<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>BoxCoreDataStore 9</string>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>BoxCoreDataStore</key>
		<dict>
			<key>BoxBaseCoreData</key>
			<data>
			dzRs142wU174t1wLi9x8u28KmdBW5UjdfDTbbD4emds=
			</data>
			<key>BoxCommentCoreData</key>
			<data>
			WaGUnFpFwjUnOxHV8PW5ccBQwHthi1UGHM5gszfNeYU=
			</data>
			<key>BoxCurrentUserCoreData</key>
			<data>
			x3MauWD/C9oZibrBxzLgbRmpPI6Ra0y6Co/k03yBxlc=
			</data>
			<key>BoxFileCoreData</key>
			<data>
			JXvRdM0VB55RLEg8mOvFCelQjiTrOIECH91IFxwk9vE=
			</data>
			<key>BoxFolderCoreData</key>
			<data>
			hJqp7N3JXk5Lorwligvv5IRbrhTxB3TyG48sXBrii7o=
			</data>
			<key>BoxObjectCoreData</key>
			<data>
			wI7OmgyLDyaxog/1ai8WuC6yCezlOI2Btl3yHoBNYBI=
			</data>
			<key>BoxUpdateCoreData</key>
			<data>
			uQtHxMZ/bd5qpHyY5G5hk0NabAB5VhETG1kCWOIDyW8=
			</data>
			<key>BoxUserCoreData</key>
			<data>
			08heJNosGWgNUNxph38qYmot0qot3vZrvHAJ9tNOzEo=
			</data>
			<key>BoxWebLinkCoreData</key>
			<data>
			IwTasE6hthDh9b8OkI3cSJjomGC7I9VM7xoQFP1YTM0=
			</data>
		</dict>
		<key>BoxCoreDataStore 2</key>
		<dict>
			<key>BoxBaseCoreData</key>
			<data>
			dzRs142wU174t1wLi9x8u28KmdBW5UjdfDTbbD4emds=
			</data>
			<key>BoxCommentCoreData</key>
			<data>
			WaGUnFpFwjUnOxHV8PW5ccBQwHthi1UGHM5gszfNeYU=
			</data>
			<key>BoxCurrentUserCoreData</key>
			<data>
			9acO8yPZ5TB8z+oFmJePTvPAhEy67L6IVXRbADeL4UM=
			</data>
			<key>BoxFileCoreData</key>
			<data>
			JXvRdM0VB55RLEg8mOvFCelQjiTrOIECH91IFxwk9vE=
			</data>
			<key>BoxFolderCoreData</key>
			<data>
			hJqp7N3JXk5Lorwligvv5IRbrhTxB3TyG48sXBrii7o=
			</data>
			<key>BoxObjectCoreData</key>
			<data>
			wI7OmgyLDyaxog/1ai8WuC6yCezlOI2Btl3yHoBNYBI=
			</data>
			<key>BoxUpdateCoreData</key>
			<data>
			uQtHxMZ/bd5qpHyY5G5hk0NabAB5VhETG1kCWOIDyW8=
			</data>
			<key>BoxUserCoreData</key>
			<data>
			08heJNosGWgNUNxph38qYmot0qot3vZrvHAJ9tNOzEo=
			</data>
			<key>BoxWebLinkCoreData</key>
			<data>
			IwTasE6hthDh9b8OkI3cSJjomGC7I9VM7xoQFP1YTM0=
			</data>
		</dict>
		<key>BoxCoreDataStore 3</key>
		<dict>
			<key>BoxBaseCoreData</key>
			<data>
			dzRs142wU174t1wLi9x8u28KmdBW5UjdfDTbbD4emds=
			</data>
			<key>BoxCommentCoreData</key>
			<data>
			WaGUnFpFwjUnOxHV8PW5ccBQwHthi1UGHM5gszfNeYU=
			</data>
			<key>BoxCurrentUserCoreData</key>
			<data>
			Kcx1z1PSG2KwAPIFshDrQBE5e8pVqc5B0Y9MUCmCrlc=
			</data>
			<key>BoxFileCoreData</key>
			<data>
			JXvRdM0VB55RLEg8mOvFCelQjiTrOIECH91IFxwk9vE=
			</data>
			<key>BoxFolderCoreData</key>
			<data>
			hJqp7N3JXk5Lorwligvv5IRbrhTxB3TyG48sXBrii7o=
			</data>
			<key>BoxObjectCoreData</key>
			<data>
			wI7OmgyLDyaxog/1ai8WuC6yCezlOI2Btl3yHoBNYBI=
			</data>
			<key>BoxUpdateCoreData</key>
			<data>
			uQtHxMZ/bd5qpHyY5G5hk0NabAB5VhETG1kCWOIDyW8=
			</data>
			<key>BoxUserCoreData</key>
			<data>
			08heJNosGWgNUNxph38qYmot0qot3vZrvHAJ9tNOzEo=
			</data>
			<key>BoxWebLinkCoreData</key>
			<data>
			IwTasE6hthDh9b8OkI3cSJjomGC7I9VM7xoQFP1YTM0=
			</data>
		</dict>
		<key>BoxCoreDataStore 4</key>
		<dict>
			<key>BoxBaseCoreData</key>
			<data>
			dzRs142wU174t1wLi9x8u28KmdBW5UjdfDTbbD4emds=
			</data>
			<key>BoxCommentCoreData</key>
			<data>
			WaGUnFpFwjUnOxHV8PW5ccBQwHthi1UGHM5gszfNeYU=
			</data>
			<key>BoxCurrentUserCoreData</key>
			<data>
			Kcx1z1PSG2KwAPIFshDrQBE5e8pVqc5B0Y9MUCmCrlc=
			</data>
			<key>BoxFileCoreData</key>
			<data>
			pTBcQ80XIXLH8rXAfTSpN3+++l6rdLsO/sH6+Ra/fS8=
			</data>
			<key>BoxFolderCoreData</key>
			<data>
			hJqp7N3JXk5Lorwligvv5IRbrhTxB3TyG48sXBrii7o=
			</data>
			<key>BoxObjectCoreData</key>
			<data>
			wI7OmgyLDyaxog/1ai8WuC6yCezlOI2Btl3yHoBNYBI=
			</data>
			<key>BoxUpdateCoreData</key>
			<data>
			uQtHxMZ/bd5qpHyY5G5hk0NabAB5VhETG1kCWOIDyW8=
			</data>
			<key>BoxUserCoreData</key>
			<data>
			08heJNosGWgNUNxph38qYmot0qot3vZrvHAJ9tNOzEo=
			</data>
			<key>BoxWebLinkCoreData</key>
			<data>
			IwTasE6hthDh9b8OkI3cSJjomGC7I9VM7xoQFP1YTM0=
			</data>
		</dict>
		<key>BoxCoreDataStore 5</key>
		<dict>
			<key>BoxBaseCoreData</key>
			<data>
			dzRs142wU174t1wLi9x8u28KmdBW5UjdfDTbbD4emds=
			</data>
			<key>BoxCommentCoreData</key>
			<data>
			WaGUnFpFwjUnOxHV8PW5ccBQwHthi1UGHM5gszfNeYU=
			</data>
			<key>BoxCurrentUserCoreData</key>
			<data>
			jinBqjM/7P4/CAQT/YyXBSu7b+QIiyZD8/HxWEgMuVM=
			</data>
			<key>BoxFileCoreData</key>
			<data>
			ABQKdZiW0ySgeUe7Hq0RPZ5/7puc/0flMxwp57fB0mc=
			</data>
			<key>BoxFolderCoreData</key>
			<data>
			0i3B1JDPebOmYYCn1DFALQUsARUES8k0FQmvW+cywZ4=
			</data>
			<key>BoxObjectCoreData</key>
			<data>
			QgSrtS5kq3Dpdd3runbmnJLFxDuMajAlmHqg4jEoh4w=
			</data>
			<key>BoxUpdateCoreData</key>
			<data>
			uQtHxMZ/bd5qpHyY5G5hk0NabAB5VhETG1kCWOIDyW8=
			</data>
			<key>BoxUserCoreData</key>
			<data>
			08heJNosGWgNUNxph38qYmot0qot3vZrvHAJ9tNOzEo=
			</data>
			<key>BoxWebLinkCoreData</key>
			<data>
			A7Lkw6sd7oBY2YJawzpYGfXhxvdkChYc5gGkYQ6eAP0=
			</data>
		</dict>
		<key>BoxCoreDataStore 6</key>
		<dict>
			<key>BoxBaseCoreData</key>
			<data>
			dzRs142wU174t1wLi9x8u28KmdBW5UjdfDTbbD4emds=
			</data>
			<key>BoxCommentCoreData</key>
			<data>
			WaGUnFpFwjUnOxHV8PW5ccBQwHthi1UGHM5gszfNeYU=
			</data>
			<key>BoxCurrentUserCoreData</key>
			<data>
			gChmsgjrfA0Z2TAD7mfaSo+LrNatPKI8qO2o8YUsbgs=
			</data>
			<key>BoxFileCoreData</key>
			<data>
			pTBcQ80XIXLH8rXAfTSpN3+++l6rdLsO/sH6+Ra/fS8=
			</data>
			<key>BoxFolderCoreData</key>
			<data>
			hJqp7N3JXk5Lorwligvv5IRbrhTxB3TyG48sXBrii7o=
			</data>
			<key>BoxObjectCoreData</key>
			<data>
			wI7OmgyLDyaxog/1ai8WuC6yCezlOI2Btl3yHoBNYBI=
			</data>
			<key>BoxUpdateCoreData</key>
			<data>
			uQtHxMZ/bd5qpHyY5G5hk0NabAB5VhETG1kCWOIDyW8=
			</data>
			<key>BoxUserCoreData</key>
			<data>
			08heJNosGWgNUNxph38qYmot0qot3vZrvHAJ9tNOzEo=
			</data>
			<key>BoxWebLinkCoreData</key>
			<data>
			IwTasE6hthDh9b8OkI3cSJjomGC7I9VM7xoQFP1YTM0=
			</data>
		</dict>
		<key>BoxCoreDataStore 7</key>
		<dict>
			<key>BoxBaseCoreData</key>
			<data>
			dzRs142wU174t1wLi9x8u28KmdBW5UjdfDTbbD4emds=
			</data>
			<key>BoxCommentCoreData</key>
			<data>
			WaGUnFpFwjUnOxHV8PW5ccBQwHthi1UGHM5gszfNeYU=
			</data>
			<key>BoxCurrentUserCoreData</key>
			<data>
			HVof5ABCDsmTMREGGGGspdFqh/B2YsXQ6FWYxoSGjkc=
			</data>
			<key>BoxFileCoreData</key>
			<data>
			pTBcQ80XIXLH8rXAfTSpN3+++l6rdLsO/sH6+Ra/fS8=
			</data>
			<key>BoxFolderCoreData</key>
			<data>
			hJqp7N3JXk5Lorwligvv5IRbrhTxB3TyG48sXBrii7o=
			</data>
			<key>BoxObjectCoreData</key>
			<data>
			wI7OmgyLDyaxog/1ai8WuC6yCezlOI2Btl3yHoBNYBI=
			</data>
			<key>BoxUpdateCoreData</key>
			<data>
			uQtHxMZ/bd5qpHyY5G5hk0NabAB5VhETG1kCWOIDyW8=
			</data>
			<key>BoxUserCoreData</key>
			<data>
			08heJNosGWgNUNxph38qYmot0qot3vZrvHAJ9tNOzEo=
			</data>
			<key>BoxWebLinkCoreData</key>
			<data>
			IwTasE6hthDh9b8OkI3cSJjomGC7I9VM7xoQFP1YTM0=
			</data>
		</dict>
		<key>BoxCoreDataStore 8</key>
		<dict>
			<key>BoxBaseCoreData</key>
			<data>
			dzRs142wU174t1wLi9x8u28KmdBW5UjdfDTbbD4emds=
			</data>
			<key>BoxCommentCoreData</key>
			<data>
			WaGUnFpFwjUnOxHV8PW5ccBQwHthi1UGHM5gszfNeYU=
			</data>
			<key>BoxCurrentUserCoreData</key>
			<data>
			BqHSf0FGqkN62w4BCiANGQ9JSsdydSWvAfLV0sommZI=
			</data>
			<key>BoxFileCoreData</key>
			<data>
			pTBcQ80XIXLH8rXAfTSpN3+++l6rdLsO/sH6+Ra/fS8=
			</data>
			<key>BoxFolderCoreData</key>
			<data>
			hJqp7N3JXk5Lorwligvv5IRbrhTxB3TyG48sXBrii7o=
			</data>
			<key>BoxObjectCoreData</key>
			<data>
			wI7OmgyLDyaxog/1ai8WuC6yCezlOI2Btl3yHoBNYBI=
			</data>
			<key>BoxUpdateCoreData</key>
			<data>
			uQtHxMZ/bd5qpHyY5G5hk0NabAB5VhETG1kCWOIDyW8=
			</data>
			<key>BoxUserCoreData</key>
			<data>
			08heJNosGWgNUNxph38qYmot0qot3vZrvHAJ9tNOzEo=
			</data>
			<key>BoxWebLinkCoreData</key>
			<data>
			IwTasE6hthDh9b8OkI3cSJjomGC7I9VM7xoQFP1YTM0=
			</data>
		</dict>
		<key>BoxCoreDataStore 9</key>
		<dict>
			<key>BoxBaseCoreData</key>
			<data>
			dzRs142wU174t1wLi9x8u28KmdBW5UjdfDTbbD4emds=
			</data>
			<key>BoxCommentCoreData</key>
			<data>
			WaGUnFpFwjUnOxHV8PW5ccBQwHthi1UGHM5gszfNeYU=
			</data>
			<key>BoxCurrentUserCoreData</key>
			<data>
			aikDriLLXDsklW707PJsNpV6pNUVdDm/JTyaRZhZEmY=
			</data>
			<key>BoxFileCoreData</key>
			<data>
			pTBcQ80XIXLH8rXAfTSpN3+++l6rdLsO/sH6+Ra/fS8=
			</data>
			<key>BoxFolderCoreData</key>
			<data>
			hJqp7N3JXk5Lorwligvv5IRbrhTxB3TyG48sXBrii7o=
			</data>
			<key>BoxObjectCoreData</key>
			<data>
			wI7OmgyLDyaxog/1ai8WuC6yCezlOI2Btl3yHoBNYBI=
			</data>
			<key>BoxUpdateCoreData</key>
			<data>
			uQtHxMZ/bd5qpHyY5G5hk0NabAB5VhETG1kCWOIDyW8=
			</data>
			<key>BoxUserCoreData</key>
			<data>
			08heJNosGWgNUNxph38qYmot0qot3vZrvHAJ9tNOzEo=
			</data>
			<key>BoxWebLinkCoreData</key>
			<data>
			IwTasE6hthDh9b8OkI3cSJjomGC7I9VM7xoQFP1YTM0=
			</data>
		</dict>
	</dict>
</dict>
</plist>
